.accordion {

    .highlight {
        background-color: color(red);
    }

    button.hidden {
        display: none;
    }
    &-wrapper {
        max-width: 740px;

    }

    &-container{
        position: relative;
    }

    &-item {
        margin-bottom: 1rem;

        &.active {
            .accordion-title {
                background-color: color(dark-gray);
                color: color(white);
                &:hover{
                    background-color: color(black);
                    color: color(white);
                }

                &-icon {
                    transform: rotate(270deg);

                    svg *{
                        fill: color(white);
                    }
                }
            }
            .accordion-content {
                max-height: 100vh;
                opacity: 1;
            }
        }

        &.hidden {
            display: none;
        }
    }
  &-title{
    display: flex;
    justify-content: space-between;
    background-color: color(medium-gray);
    padding: 1rem;
    width: 100%;
    text-align: left;
    transition: all 0.3s ease;
    
    *{
        font-weight: 500;
    }

    &-icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        transition: all 0.3s ease;
        pointer-events: none;
        margin: auto 0 auto auto;
        transform: rotate(90deg);

        svg *{
            fill: color(black);
            transition: all 0.3s ease;
        }
    }

    &:hover{
        background-color: color(dark-gray);
        color: color(white);

        .accordion-title-icon svg *{
            fill: color(white);
        }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s ease;    

    &-copy {
        padding: 1rem;
    }
  }

  .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    input {
        width: 100%;
        padding: .5rem;
        border: 1px solid color(medium-gray);
        font-size: 1rem;
        line-height: 1.5;
        color: color(black);
        background-color: color(white);
        background-clip: padding-box;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }

  .no-result{
    position: relative;

    &-copy{
        position: absolute;
    }
  }
}
